div#EditorProject(style="min-height:60vh")
  .container(layout="column" flex = "100")
    div(flex layout-align="center center" layout="column")
      h1 Project Editor Console
    div(layout="row")
      div#postsLists(flex="25")
        h3 list of posts
        md-list
          md-list-item(ng-repeat="project in $ctrl.listProjects", ng-click="$ctrl.loadForEdition($index)")
            .md-list-item-text
              h4 {{project.title}}
            md-divider
      div#editForm(layout="column" flex-offset="5", flex="75")
        form(layout="column")
          div(layout="row" flex="100")
            md-input-container(flex="80")
              label Title
              input(ng-model="$ctrl.project.title")
            md-input-container(flex)
              md-switch(ng-model="$ctrl.project.displayFront") Front ?
          md-input-container
            label Desc
            textarea(ng-model="$ctrl.project.desc")
          div(layout="row" flex="100")  
            md-input-container(flex)
              label Project Type
              <md-select ng-model="$ctrl.project.type">
                <md-option ng-repeat="type in $ctrl.projectTypes" value="{{type}}"> {{type}}
            md-input-container(flex="80")
              label Project Url
              input(ng-model="$ctrl.project.siteUrl")
          div(layout="row" flex="100")
            md-input-container(flex)
              label Project Image
              input(ng-model="$ctrl.project.imgUrl")
              md-icon.fa.fa-search(ng-click="$ctrl.showDialog()")
            img#projectImage(ng-src="{{$ctrl.project.imgUrl}}")
          div(layout="row", layout-align="start center")
            md-button(type="submit" ng-show="$ctrl.projectAnt" ng-click="$ctrl.handleSave($event)") save
            md-button(type="submit" ng-show="!$ctrl.projectAnt" ng-click="$ctrl.handleAdd()") Add
            md-button(type="submit" ng-click="$ctrl.showPreview($event)") preview

script(type="text/ng-template" id="selectImage.tmpl.pug")
  md-dialog(aria-label="Search Images")
    form(ng-cloak)
      md-toolbar
        div.md-toolbar-tools
          h2 Select the images that you wish to display!
          span(flex)
          md-button.md-icon-button(ng-click="cancel()") x
      md-dialog-content
        md-content#StockListContent()
          md-list#dialogImagesList(flex)
            md-list-item.md-2-line(ng-animate='animate' ng-repeat='image in $ctrl.imagesList', layout="row", ng-click="answer($index)")
              img(ng-src='https://s3.amazonaws.com/rogatis/{{image}}' style="max-width:100px;")
              div.md-list-item-text(layout="column" alig)
                h3 {{image}}
              md-divider.md-inset(ng-if="!$last")
      md-dialog-actions(layout="row")
        span(flex)
        md-button(ng-click="cancel()") Cancel

script(type="text/ng-template" id="preview.tmpl.pug")
  md-dialog(aria-label="Project Preview")
      form(ng-cloak)
        md-toolbar
          div.md-toolbar-tools
            h2 project preview!
            span(flex)
            md-button.md-icon-button(ng-click="cancel()") x
        md-dialog-content
          li.grid(data-ng-repeat="project in $ctrl.project")
            a(ng-href="{{project.siteUrl}}", target="_blank")
              img.grid-img(src="{{project.imgUrl}}" data-actual-width = "250"  data-actual-height="250")
              div#textWork.col-lg-12(layout="column")
                h3.col-lg-offset-1 {{project.title}}
                p.col-lg-offset-1.
                  {{project.type}}
        md-dialog-actions(layout="row")
          span(flex)
          md-button(ng-click="cancel()") Cancel


