div#mainGallery {
  div {
    div#uploadImage {
      div#imageForm {
        div#drop {
          background-color: lightgray;
          min-height: 70px;
        }
      }
    }
    div#gallery {
      padding-top: 100px;
    }
  }
}
