div#mainGallery
  .container(layout="column" flex="100")
      div#uploadImage(flex="100", layout="column")
        h1 New Image ?
        div#imageForm(flex layout="row")
          md-input-container(flex = "40").md-padding
            label Title
            input(ng-model="$ctrl.image.title")
          div#drop(flex="20" layout="row").md-padding
            div.drop-box(ngf-drop="$ctrl.onFileSelect($file)" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'image/*,application/pdf'" ngf-resize="{ratio: '1.91:1', width: 1203, height: 630}")
              span Drop Images or PDFs files here
            div( ngf-no-file-drop) File Drag/Drop is not supported for this browser
        div(flex)
          md-progress-linear(ng-show="$ctrl.determinateValue" md-mode="determinate" ng-value="$ctrl.determinateValue")

      md-divider.md-padding
      h1 Gallery
      div#gallery(layout="column", flex="100")
        md-grid-list(flex
          md-cols-gt-sm="3" md-cols="1" 
          md-row-height="3:4"
          md-gutter="10px")
          md-grid-tile(ng-repeat="pic in $ctrl.listImages")
            md-card
              img(ng-src="https://s3.amazonaws.com/rogatis/{{pic}}") 
              md-title
                md-button.md-icon-button.md-accent(aria-label="Favorite" ng-click="$ctrl.deleteImage(pic)")
                  md-icon.fa.fa-trash
                div#imageDesc.md-padding
                  p {{pic}}
                  p W {{ width }} x H {{height}}




