md-divider {
  margin-top: 10px;
  margin-bottom: 0;
}

div#Editor {
  div {
    div#menus {
      div#postsLists {
        md-list {
          overflow-y: scroll;
          max-height: 400px;
          md-list-item {
            button {
              position: absolute;
              top: 0;
              right: 0;
              display: none;
            }
            :hover button {
              display: block;
            }
          }
        }
      }
    }
  }
}
img#postImage {
  max-height: 50px;
}


