//link(rel='stylesheet' href='/node_modules/textangular/dist/textAngular.css')
//script(src='/bower_components/textAngular/dist/textAngular-sanitize.min.js')
//script(src='/bower_components/textAngular/dist/textAngular-rangy.min.js')

div#Editor(style="min-height:60vh")
  .container(layout="column" flex = "100")
    div(flex layout-align="center center" layout="column")
      h1 Post Editor Console
      h3 Dear You.. Take your time and write interesting things!!!
    div#menus(layout="row" flex layout-align="center start")
      div#postsLists(flex="25" layout-align="center start")
        h3 list of posts
        md-button(ng-click="$ctrl.newPost()") New Post
        md-list(flex)
          md-list-item(ng-repeat="post in $ctrl.listPosts", ng-click="$ctrl.loadForEdition($index)")
            .md-list-item-text(flex)
              h4 {{post.title}}
            md-button.md-icon-button.md-accent(flex="10" aria-label="Favorite" ng-click="$ctrl.handlePostDelete($index)")
                md-icon.fa.fa-trash
            md-divider
      div#editForm.md-inline-form(layout="column" flex-offset="5", flex="75")
        form(name="postForm" layout="column" ng-submit="$ctrl.handleSubmit($event)")
          md-input-container
            md-switch(ng-model="$ctrl.post.active") Active ? {{$ctrl.post.active ? true : false}}
          md-input-container
            label(style="font-size:25px;") Title
            input(ng-model="$ctrl.post.title" style="font-size:25px;" ng-change="$ctrl.handleTitleOnChange()" required)
          md-input-container
            label Author
            input(ng-model="$ctrl.post.author" style="font-size:25px;" required)  
          md-input-container
            label Slug
            input(ng-model="$ctrl.post.slug" required)
          md-input-container
            label Snipet
            textarea(ng-model="$ctrl.post.snipet" required)
          div#imgSelector(layout="row" flex)
            md-input-container#imgSelector(flex)
              label Post Image
              input(ng-model="$ctrl.post.postImage" required)
              md-icon.fa.fa-search(ng-click="$ctrl.showDialog()")
            img#postImage(ng-show="$ctrl.post" ng-src="{{$ctrl.post.postImage}}")
          div(layout = "row" flex layout-align="center center")
            md-content(flex="100")
              textarea#mytext(ui-tinymce="tinymceOptions" ng-model="$ctrl.post.text" )
          div(layout="row", layout-align="start center")    
            md-button(type="submit")  {{$ctrl.addOrSave}}   
script(type="text/ng-template" id="selectImage.tmpl.pug")
  md-dialog(aria-label="Search Images")
    form(ng-cloak)
      md-toolbar
        div.md-toolbar-tools
          h2 Select the images that you wish to display!
          span(flex)
          md-button.md-icon-button(ng-click="cancel()") x
      md-dialog-content
        md-content#StockListContent()
          md-list#dialogImagesList(flex)
            md-list-item.md-2-line(ng-animate='animate' ng-repeat='image in $ctrl.imagesList', layout="row", ng-click="answer($index)")
              img(ng-src='https://s3.amazonaws.com/rogatis/{{image}}' style="max-width:100px;")
              div.md-list-item-text(layout="column" alig)
                h3 {{image}}
              md-divider.md-inset(ng-if="!$last")
      md-dialog-actions(layout="row")
        span(flex)
        md-button(ng-click="cancel()") Cancel

script(type="text/ng-template" id="save.tmpl.pug")
  md-dialog(aria-label="save")
    form(ng-cloak)
      md-toolbar
        div.md-toolbar-tools
          h2 Post Saved!
          span(flex)
          md-button.md-icon-button(ng-click="cancel()") x
      md-dialog-content
        h2 "post and page infos updated"
      md-dialog-actions(layout="row")
        span(flex)
        md-button(ng-click="cancel()") ok
