.container(layout="row" layout-align="center center")
  p.col-lg-4  @2016 Jean Philip de Rogatis
  div.col-lg-4(hide-xs layout="row" layout-align="space-between")
    a(href='http://angular-fullstack.github.io/generator-angular-fullstack') about
    a(href='https://gitter.im/DaftMonk/generator-angular-fullstack') portfolio
    a(href='https://github.com/angular-fullstack/generator-angular-fullstack/issues?state=open') blog
    a(href='https://opencollective.com/angular-fullstack') contact
  div.col-lg-4(hide-xs layout="row" layout-align="end end")
    md-button.md-primary.md-raised
      i.fa.fa-thumbs-up
        span Like 11 mil
