#footer {
    background-color: #DADADA;
    display: block;
    text-align: left;
    .container {
        background-color: #DADADA;
      a {
      padding-right: 2%;
    }
    }
    
  }
footer {
  background-color: #DADADA; 
  padding: 30px 0 0 0;
  max-height: 40px;
}