div#projectDetailsMain
  .container(layout="column" layout-align="center center" flex="100")
    div#title(flex="100" layout="row")
      div#left(flex="50")
        h1 {{$ctrl.projectDetails.title}}
        md-divider
        div(layout="row" layout-align="space-between center")
          h5 {{$ctrl.projectDetails.type}}
          h5 {{$ctrl.projectDetails.doneDate | date:'MMM yyyy'}}
        h3 {{$ctrl.projectDetails.desc}}
      div#right(flex="50")
        img.ng-cloak(ng-src="{{$ctrl.projectDetails.imgUrl}}")
    div#textArea(layout="column")
      div#challengeText(layout="column")
        h2 The Challenge
        div#Text.md-padding(flex="100" ng-bind-html="$ctrl.projectDetails.challengeText")
      div#Text.md-padding(flex="100" ng-bind-html="$ctrl.projectDetails.text")
