div#projectDetailsMain {
  div.container {
    div#title {
      text-align: left;
      padding: 3% 0% 3% 0%;
      #left {
        h1: {
          
        }
      }
    }
    div#textArea {
      div#Text {
        font-size: 1.3em;
      }
    }
  }
}
