
div#imageGaleryMain
  .container(layout="column" layout-align="center center" flex="100")
    h1 {{$ctrl.post.title}}
    div(layout="row")
      div(flex-gt-sm="20" show-gt-sm)
      div#Text.md-padding(flex="100" flex-gt-sm="60" ng-bind-html="$ctrl.post.text")









