$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '~angular-material/angular-material.scss';
@import '~angular-material/layouts/angular-material.layouts.scss';
@import '~angular-material/layouts/angular-material.layout-attributes.scss';
@import url(https://cdn.materialdesignicons.com/1.7.22/css/materialdesignicons.min.css);
//@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
//@import '/assets/fonts/prometo/';
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);
 @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic);

/**
 * App-wide Styles
 */

@mixin respond-to($media) {
  @if $media == screen-xs {
    @media only screen
    and (max-width: 599px)
    { @content; }
  }

  @if $media == screen-gt-xs {
    @media only screen
    and (min-width: 600px)
    { @content; }
  }

  @if $media == screen-sm {
    @media only screen
    and (min-width: 600px)
    and (max-width: 959px)
    { @content; }
  }

  @if $media == screen-gt-sm {
    @media only screen
    and (min-width: 960px)
    { @content; }
  }

  @if $media == screen-md {
    @media only screen
    and (min-width: 960px)
    and (max-width: 1279px)
    { @content; }
  }

  @if $media == screen-gt-md {
    @media only screen
    and (min-width: 1280px)
    { @content; }
  }

  @if $media == screen-lg {
    @media only screen
    and (min-width: 1280px)
    and (max-width: 1919px)
    { @content; }
  }

  @if $media == screen-gt-lg {
    @media only screen
    and (min-width: 1920px)
    { @content; }
  }
}


body{
  font-family: prometo;
}

//overhide default beravior
.md-button {
    text-transform: none !important;/*For Lower case use lowercase*/
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

i.mdi::before,
span.mdi::before,
button.mdi::before {
    font-size: 24px;
    line-height: 13px;
}
.btn.mdi::before,
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs.mdi::before,
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm.mdi::before,
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

// Component styles are injected through gulp
/* inject:scss */
@import 'contact/contact';
@import 'main/main';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
/* endinject */
