div#navBar {
  display:block;
  //font-family: prometo;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  border-color: transparent;
  background-color: #191919;
  md-toolbar {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    height: 50px;
    max-height: 50px;
    min-height: 0px;
    .md-toolbar-tools {
      md-icon#logo{
        fill: white;
        width: 50px;
        height: 50px;
        &:hover {
          transition: 200ms;
          transition-timing-function: ease-in-out;
          -webkit-transition: 200ms;
          -webkit-transition-timing-function: ease-in-out;
          fill: #064A99;
          background-color: white;
        }
      }
      div#menuButtons {
        .md-button {
          font-size: 1em;
          font-weight: 800;
          height: 50px;
          padding-top: 5px;
          &:hover {
            transition: 200ms;
            transition-timing-function: ease-in-out;
            -webkit-transition: 200ms;
            -webkit-transition-timing-function: ease-in-out;
            color: #064A99;
            background-color: white;
          }
          .selected {
            border-style: solid;
            border-width: thin;
            border-color: lightgray;
            max-height: 0.6px;
          }
        }
       #menuAdmin {
          .md-button {
            font-size: 1em;
            font-weight: 800;
            height: 50px;
            padding-top: 0px;
            &:hover {
              transition: 200ms;
              transition-timing-function: ease-in-out;
              -webkit-transition: 200ms;
              -webkit-transition-timing-function: ease-in-out;
              color: #064A99;
              background-color: white;
            }
          }
        }
      }

      div#socialLinks {     
        a {
          padding-left: 0;
          padding-right: 0;
          margin-left: 0px;
          margin-right: 0px;
           &:hover {
             background-color: white;
             md-icon {
              svg {
                fill: #191919;
              }
            }
           }
          md-icon{ 
            svg {
              height: 20px;
              width: 20px;
              fill: white;
            }
          }
        }
      }
      #breadMenu {
        margin-top: 0px;
        margin-bottom: 0px;
        i {
          color: white;
          font-size: 25px;
        }
      }
    }
  }
}

