div#navBar {
  display:block;
  //font-family: prometo;
  font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  border-color: transparent;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#064a99+18,7db9e8+82 */
  background: rgb(6, 74, 153);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(6, 74, 153, 1) 18%, rgba(125, 185, 232, 1) 82%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(6, 74, 153, 1) 18%, rgba(125, 185, 232, 1) 82%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(6, 74, 153, 1) 18%, rgba(125, 185, 232, 1) 82%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  md-toolbar {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    height: 50px;
    max-height: 50px;
    min-height: 0px;
    .md-toolbar-tools {
      md-icon#logo{
        fill: white;
        width: 50px;
        height: 50px;
        &:hover {
          transition: 200ms;
          transition-timing-function: ease-in-out;
          -webkit-transition: 200ms;
          -webkit-transition-timing-function: ease-in-out;
          fill: #064A99;
          background-color: white;
        }
      }
      div#menuButtons {
        .md-button {
          font-size: 1em;
          font-weight: 800;
          height: 50px;
          padding-top: 5px;
          &:hover {
            transition: 200ms;
            transition-timing-function: ease-in-out;
            -webkit-transition: 200ms;
            -webkit-transition-timing-function: ease-in-out;
            color: #064A99;
            background-color: white;
          }
          .selected {
            border-style: solid;
            border-width: thin;
            border-color: lightgray;
            max-height: 0.6px;
          }
        }
       #menuAdmin {
          .md-button {
            font-size: 1em;
            font-weight: 800;
            height: 50px;
            padding-top: 0px;
            &:hover {
              transition: 200ms;
              transition-timing-function: ease-in-out;
              -webkit-transition: 200ms;
              -webkit-transition-timing-function: ease-in-out;
              color: #064A99;
              background-color: white;
            }
          }
        }
      }

      div#socialLinks {     
        a {
          padding-left: 0;
          padding-right: 0;
          margin-left: 0px;
          margin-right: 0px;
          img {
            height: 20px;
            width: 20px;
            &:hover {
              color: #064A99;
              fill: #064A99;
            }
          }
        }
      }
      #breadMenu {
        margin-top: 0px;
        margin-bottom: 0px;
        i {
          color: white;
          font-size: 25px;
        }
      }
    }
  }
}

