
div#contactMain.animated.slideInDown
  .container(layout-sm ="column" layout-gt-sm="row")
    div#contact(layout="column", flex-gt-sm="35", flex="100")
        h1 contact me
        div#contactLinks(flex-offset="5")
          div(layout="row")
            md-button#facebook.md-fab(aria-label="FaceBook", ng-href="http://facebook.com/jrogatis", target="_blank")
              md-icon(md-svg-src="/assets/images/facebookContact.svg")
            h3 Like me on Facebook
          div(layout="row")
            md-button#linkedIn.md-fab(aria-label="linkedIn", ng-href="https://br.linkedin.com/in/jrogatis", target="_blank")
              md-icon(md-svg-src="/assets/images/linkedin.svg")
            h3 My linkedIn perhaps?
          div(layout="row")
            md-button#gitHub.md-fab(aria-label="git", ng-href="https://github.com/jrogatis", target="_blank")
              md-icon(md-svg-src="/assets/images/git.svg")
            h3 As a code warrior, my git.
    div#contactForm(layout="column",flex-gt-sm="65", flex="100")
        h1 send me a message
        md-content
          div
            form(name="emailForm", ng-submit="$ctrl.sendEmail(emailForm)")
              div(layout-gt-xs="row")
                md-input-container.md-block.md-icon-float(flex-gt-xs)
                  label First
                  md-icon
                    ng-md-icon.name(icon="person" style="fill: blue" size="30")
                  input(required name="firstName" ng-model="$ctrl.user.fistName")
                  div(ng-messages="emailForm.firstName.$error" role="alert" multiple="")
                    div(ng-message="required" class="my-message") You must supply your first name
                md-input-container.md-block(flex-gt-xs)
                  label Last
                  input(name="lastName" required ng-model="$ctrl.user.lastName")
                  div(ng-messages="emailForm.lastName.$error" role="alert" multiple="")
                    div(ng-message="required" class="my-message") You must supply your last name
              div(layout-gt-xs="row")
                md-input-container.md-block.md-icon-float(flex-gt-xs)
                  label email
                  md-icon
                    ng-md-icon.name(icon="email", style="fill: blue" size="30")
                  input(name="email" required ng-model="$ctrl.user.email", type="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" )
                  div(ng-messages="emailForm.email.$error")
                    div(ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']")
                      p Your email must be between 10 and 100 characters long and look like an e-mail address.
              div
                md-input-container.md-block(flex-gt-xs)
                  label message
                  textarea.md-select-on-focus(ng-model="$ctrl.user.message", md-maxlength="150", rows="5")
              div
                md-button.btn-primary(type="submit") Send

script(type="text/ng-template" id="dialogEmailSend.tmpl.pug")
  md-dialog(aria-label="emailSend")
    form(ng-cloak)
      md-toolbar
        div.md-toolbar-tools
          h2 Email Submited
          span(flex)
          md-button.md-icon-button(aria-label="md-button ok", ng-click="cancel()")
            md-icon
              ng-md-icon.name(icon="close" style="fill: white")
      md-dialog-content
        div.md-dialog-content
          h2 Tanks for your message! {{$ctrl.user.fistName}}You Rock!!!!
      md-dialog-actions(layout="row")
        span(flex)
        md-button(ng-click="cancel()") Ok
