div#Main {
  div#MainText {

    min-height: 70vh;
    background-image: url("/assets/images/skydive6.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top center;
    @include respond-to(screen-xs) {
       background-image: url("/assets/images/skydive7.jpg");
      min-height: 70vh;
      }
    @include respond-to(screen-sm) {
        min-height: 45vh;
      }

  }
  div#latestWorkTitle {
    h1 {
      font-size: 25px;
      text-align: center;
      @include respond-to(screen-xs) {
        font-size: 15px;
      }
    }
  }
  .lineDivider {
    border-color: black;
    border: 2px;
    border-bottom-style: solid;
  }
}

.grid {
  border: 1px solid #cccccc;
  box-shadow: 5px 5px 5px #888888;
  list-style: none;
  background: #f8f3f3;
  -webkit-transition: all 0.6s ease-out;
  position: absolute;
  box-sizing: border-box;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  overflow: hidden;
  border-radius: 5px;
  .grid-img {
    box-shadow: 5px 5px 5px #888888;
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    padding: 10px 10px;
  }
  div#textWork {
    padding-top: 10px;
    p {
      padding-top: 5px;
      text-align: justify;
    }
  }
}

dynamic-grid {
  position: relative;
  display: none;
}

.dynamic-grid.angular-grid {
  display: block;
}

.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}
