
div#Main
  .container
    div#MainText(flex="100", layout="column").animated.slideInLeft

    div(flex).animated.slideInUp
      div#latestWorkTitle(flex="100", layout="row" layout-align="center center")
        div.lineDivider(flex="20")
        h1(flex="50") Some of My Latest Work
        div.lineDivider(flex="20")
      ul.dynamic-grid(flex angular-grid="$ctrl.listImportantProjects" ag-grid-width="280" ag-gutter-size="10" ag-id="gallery" ag-refresh-on-img-load="true")
        li.grid(flex data-ng-repeat="project in $ctrl.listImportantProjects")
          a(ng-href="{{project.siteUrl}}", target="_blank")
            img.grid-img(src="{{project.imgUrl}}" data-actual-width = "250"  data-actual-height="250")
            div#textWork(flex layout="column" flex-offset="5")
              h3 {{project.title}}
              p {{project.desc}}
