
div#aboutMain
  .container(layout-align="center center")
    div#aboutMe(flex layout="row")
      div#text(flex="50")
        h1 about me
      div#image(flex="50")  
    div#pics(flex="row")
    div#facts(flex="row")
    div#skills

    

    






