div#aboutMain {
  md-grid-tile {
    transition: all 400ms ease-out 50ms;
  }
  .container {
   
    div#aboutMe {
      display:block;
      flex-direction:column;
        @include respond-to(screen-gt-sm) {
        display:flex;
        flex-direction:row;
      }
      div#text {
        h1 {
          font-size: 4.5em;
          font-weight: 800;
          color: $MAIN_HEADER_COLOR;
        }
        div#innerText {
          font-size: 1.5em;
        }
      }
      #aboutImage {
        padding-top: 20px;
        padding-bottom: 20px;
        md-card {
          background-color: transparent;
          border: none;
          box-shadow: none !important;
          img{
            border-radius: 15px;
            -moz-box-shadow: -7px 9px 5px 0px rgba(125,125,125,1);
            box-shadow: -7px 9px 5px 0px rgba(125,125,125,1);
          }
        }
       
      }
    }
    div#pics {
      display:block;
      border-top: #dddddd 1px solid;
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: rgb(221, 221, 221);
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  div#randomFacts {
    display:block;
    flex-direction:column;
      @include respond-to(screen-gt-sm) {
      display:flex;
      flex-direction:row;
    }
    border-top: #dddddd 1px solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221, 221, 221);
    padding-top: 20px;  
    padding-bottom: 20px;

    md-card {
      border-radius: 15px;
      -moz-box-shadow: 7px 9px 5px 0px rgba(125,125,125,1);
      box-shadow: 7px 9px 5px 0px rgba(125,125,125,1);
      img {
         border-radius: 15px;
      }
    }

    div#factsText {
      font-size: 1.5em;
      .factsListItem {
        margin: 0 0 8px 0;
      }

    }
  }
  div#skills {
    display:block;
    border-top: #dddddd 1px solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221, 221, 221);
    padding-top: 20px;  
     
    h1 {
      font-size: 4.5em;
      font-weight: 800;
      color: $MAIN_HEADER_COLOR;
    }
    .nvd3 .nv-axis path {
      fill: transparent;
      stroke: transparent;
      stroke-opacity: 0;
    }
    .nv-x { 
      line {
        fill: white;
        stroke: white;
        stroke-opacity: 0;
      }
      text {
        text-align: left;
        font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 20px;
        font-weight: 800;
        fill: darkblue;
        color: darkblue;
        -ms-transform: rotate(90deg) translateX(-100px); /* IE 9 */
        -webkit-transform: rotate(90deg) translateX(-100px); /* Safari */
        transform: rotate(90deg) translateX(-100px) translateY(-10px) ;
      }
    }
    .nv-y {
       line {
        fill: white;
        stroke: white;
        stroke-opacity: 1;
      }
      text {
        font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;
        font-size: 17px;
        font-weight: 800;
        fill: red;
        @include respond-to(screen-xs) {
          font-size: 12px;
        }
      }

    }
  }
  .nvd3 .nv-axis.nv-x  {
    stroke-opacity: 1;
}

}
