
div#portfolioMain
  .container(layout-sm ="column" layout-gt-sm="row")
    div#portfolio(flex)  
      md-grid-list( flex
            md-cols-gt-sm="3" md-cols="1" 
            md-row-height="4:3"
            md-gutter-gt-sd="25px"  md-gutter="4px")
            md-grid-tile(ng-repeat="project in $ctrl.listProjects")
              md-button(ng-href="{{project.siteUrl}}")
                md-card
                  img(ng-src="{{project.imgUrl}}") 
                  div#card(flex layout="row"  layout-align="center center") 
                    md-card-title(flex="90")
                      md-card-title-text
                        span.md-headline {{project.title}}
                        span.md-subhead {{project.type}}
                    div#pointer(flex layout-align="center center")
                      i.fa.fa-angle-right      
                      