div#BlogMain {
   h1 {
        text-align: center;
      }
  div {
    div#blogText {
     
      div#posts {
        md-list {
          md-list-item {
            div{
              md-card{
                background-color: #fcfaf8;
              }
            }
          }
        }
      }
    }
  }
  div#blogPicture {
    margin-top: 20px;
    background-image: url("/assets/images/anxiusbw.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    min-height: 70vh;
  }
}

