div#BlogMain {
   display:block;
   font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
   h1 {
    text-align: center;
      }
  div {
    div#blogText {
      display:block;
      div#posts {
        md-list {
          md-list-item {
            display:block;
            div{
              md-card{
                background-color: transparent;
                border-width: 0px 0px;
                box-shadow: 0px 0px;
                md-card-title {
                  div#image {
                    margin-top: 20px;
                    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
                    img { 
                    
                      height: 300px;
                    
                    }
                  }
                   md-card-title-text{
                    div#divider {
                      border-bottom-style: solid;
                      border-color: rgb(226, 226, 226);
                      border-width: 0.3px;
                      height: 0.3px;
                    } 
                    .md-headline {
                      font-size: 45px;
                      line-height: 52px;
                    }
                    .md-subhead {
                      font-size: 15px;
                      text-align: justify;
                    }
                    
                  }


                  md-card-content{ 
                    span {
                      font-size: 20px;
                    } 
                    a {
                      font-size: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  div#blogPicture {
    margin-top: 20px;
    background-image: url("/assets/images/anxiusbw.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    min-height: 70vh;
  }
}

