
div#BlogMain
  .container(layout-align="center center")
    h1 My Weekly Code Anxiety
    div(layout-sm ="columns" layout-gt-sm="row")
      div#blogPicture(flex="100", flex-gt-md="35").animated.slideInLeft
      div#blogText(flex="100", flex-gt-md="65", layout-align="center center")
        div#posts
          md-list(flex)
            md-list-item(layout="column" layout-gt-sm="row" ng-repeat="post in $ctrl.listPosts")
              div(flex flex-gt-xs="60" layout="column").animated.slideInUp
                md-card
                  md-card-title(layout="column"  layout-align="center center")
                    img.md-padding(ng-src="{{post.postImage}}", layout-align="center center")
                    md-card-title-text
                      span.md-headline.md-padding {{post.title}}
                      span.md-subhead(ng-bind-html="post.text | limitTo: 600") 
                      a(ng-href=`/post/{{post.slug}}`) more ...

    






