div#BlogMain {
  div {
    div#blogText {
      h1 {
        text-align: center;
      }
    }
    div#blogPicture {
      margin-top: 20px;
      background-image: url("/assets/images/anxiusbw.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;
      min-height: 70vh;
    }
  }
}
