
div#loginMain
  .container(layout="column")
    h1 Please Login
    form(name="loginForm" layout="column")
      md-input-container
        label Login Name
        input(name="loginName" ng-model="$ctrl.login.Name" required)
        div(ng-messages="loginForm.loginName.$error")
          div(ng-message="required") This is required!
      md-input-container
        label Pass
        input(name="pass" ng-model="$ctrl.login.pass" required)
        div(ng-messages="loginForm.pass.$error")
          div(ng-message="required") This is required!
      div
        md-button(type="submit" ng-click="$ctrl.login()") Login


